# Data Science Tools and Ecosystem

## Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- simple arithmetic expression to mutiply then add integers

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. julia
5. scala
6. java

Some of the commonly used libraries used by Data Scientists include:
1. numPy
2. TensorFlow
3. Scikit
4. matplotlib

| Data Science Tools|
|:--------:|
|  Apache Spark   |
|  Matplotlib   |
|  tensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [9]:

(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [7]:

200/60

3.3333333333333335

## Author
Mohammed Irshad